<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-book"></span> Docs <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/docs/index.html#api-Auth">Auth</a></li>
            <li><a href="/docs/index.html#api-Activity">Activity</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://mx.linkedin.com/in/danyelcabello/en"><span class="glyphicon glyphicon-user"></span> Danyel Cabello</a>
      </li>
    </ul>
  </div>
</nav>
